*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --color-1: #96e9eb;
    --color-2: #4585f7;
    --color-3: #ffffff;
    --color-4: #e6e6e6;
    --color-5: #555555;
}
body {
    background-color: var(--color-1) ;
}
a{
    padding-top: 5px;
    font-size: 12px;
}
a:hover{
    color: red;
}
/* Mobile View */
@media (max-width: 599px){
    body {
        background-color: var(--color-3);
    }
    .container {
        width: 100%;
    }
    section {
         display: flex;
         flex-direction: column;
         justify-content: center;
         align-items: center;
         flex: 1;
         background-color: #FEFEFE;
     }
    .main-header {
        color: var(--color-2);
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
      }
     .login-fields {
         margin-top: 20px;
         margin-bottom: 20px;
     }
     .col {
         margin-bottom: 6px;
     }

     .col label {
         font-family: 'Poppins', sans-serif;
         text-transform: uppercase;
         font-weight: 400;
         color: var(--color-5);
         font-size: 10px;
         padding-bottom: 10px;
     }
    .input {
          outline: none;
          border: none;
          padding: 6px;
          margin-bottom: 5px;
          width: 12.5rem;
          border-radius: 5px;
          background-color: var(--color-4);
      }
    .userResetSection {
         justify-content: space-between;
         align-items: center;
         flex-direction: row;
         width: 100%;
     }

    .rememberMe div {
         display: flex;
         justify-content: center;
         align-items: center;
         font-family: 'Poppins', sans-serif;
         font-size: 8px;
         color: var(--color-5);
     }
     input[type="checkbox"] {
         margin-right: 5px;
     }

     p {
         font-family: 'Poppins', sans-serif;
         font-size: 8px;
         color: var(--color-2);
     }

     .button-section {
         margin-top: 10px;
     }

     .button {
         border: none;
         outline: none;
         border-radius: 5px;
         background-color: var(--color-2);
         padding: 6px;
         margin-top: 10px;
         color: var(--color-3);
         text-transform: uppercase;
         width: 12.5rem;
     }

     .button,
     p:hover {
         cursor: pointer;
     }
}
/* Desktop View */
@media (min-width: 600px){
    .container {
        position: relative;
        max-width: 600px;
        margin: 3rem auto;
        border-right: 3rem solid var(--color-2);
    }

    section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        background-color: #FEFEFE;
    }

    .main-header {
        color: var(--color-2);
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        margin-bottom: 20px;
    }

    .login-fields {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .col {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 8px;
    }

    .col label {
        font-family: 'Poppins', sans-serif;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--color-5);
        font-size: 10px;
        padding-bottom: 10px;
    }

    .input {
        outline: none;
        border: none;
        padding: 6px;
        width: 24rem;
        margin-bottom: 5px;
        border-radius: 5px;
        background-color: var(--color-4);
    }
    .userResetSection {
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        width: 100%;
    }
    .rememberMe div {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Poppins', sans-serif;
        font-size: 10px;
        color: var(--color-5);
    }
    input[type="checkbox"] {
         margin-right: 5px;
     }

    p {
        font-family: 'Poppins', sans-serif;
        font-size: 11px;
        color: var(--color-2);
    }

    .button-section {
        margin-top: 10px;
    }

    .button {
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: var(--color-2);
        padding: 6px;
        margin-top: 10px;
        color: var(--color-3);
        text-transform: uppercase;
        width: 24rem;
    }

    .button,
    p:hover {
        cursor: pointer;
    }
}
